{% load static %}

<main class="d-flex flex-column h-100">
    <div class="px-2 px-sm-6 flex-grow-1">
        <div class="d-flex align-items-center pl-4">
            <h1>Scans</h1>
            <div class="d-flex align-items-end justify-content-end py-2">
                <button class="btn btn-outline-primary mx-2 btn-sm">Add Targets</button>
                <button class="btn btn-primary btn-sm d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#newScanModal">
                    <i class="fa fa-plus-circle pr-2"></i> New Scan
                </button>
            </div>
        </div>
        <div class="card shadow p-6 mt-3">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-outline-secondary btn-sm" title="Filter scans">
                        <i class="fa fa-sliders pr-2"></i> Filters
                    </button>
                </div>
            </div>
            <div class="mt-4">
                {% if scans %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Scan</th>
                                <th>Target(s)</th>
                                <th>State</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for scan in scans %}
                                <tr>
                                    <td>
                                        <button class="btn btn-light btn-sm toggle-details" title="Toggle Details">
                                            <i class="fa fa-angle-right"></i>
                                        </button>
                                    </td>
                                    <td>{{ scan.get_type_display }}</td>
                                    <td>
                                        {% for target in scan.targets.all %}
                                            {{ target.target }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ scan.get_state_display }}</td>
                                    <td>{{ scan.created_at|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>
                                        <button class="btn btn-outline-secondary btn-sm" title="Refresh" onclick="refreshPage()">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="scan-details" id="details-{{ forloop.counter }}" style="display:none;">
                                    <td colspan="6">
                                        <div class="card border-0">
                                            <div class="card-body p-0">
                                                <table class="json-table" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr><td class="key">type</td><td><div>{{ scan.get_type_display }}</div></td></tr>
                                                        <tr><td class="key">state</td><td><div>{{ scan.get_state_display }}</div></td></tr>
                                                        <tr><td class="key">id</td><td><div>{{ scan.id }}</div></td></tr>
                                                        <tr>
                                                            <td class="key">targets</td>
                                                            <td>
                                                                <table class="json-table" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        {% for target in scan.targets.all %}
                                                                        <tr><td><div>{{ target.target }}</div></td></tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- Scan results section -->
                                                        <tr>
                                                            <td class="key">scan_results</td>
                                                            <td>
                                                                <table class="json-table" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        {% for result in scan.results.all %}
                                                                        <tr>
                                                                            {% if result.port %}
                                                                                <td class="key">Port</td>
                                                                                <td><div>{{ result.port }}</div></td>
                                                                                <td class="key">State</td>
                                                                                <td><div>{{ result.state }}</div></td>
                                                                            {% else %}
                                                                                <td class="key">State</td>
                                                                                <td><div>{{ result.state }}</div></td>
                                                                    
                                                                                <td class="key">Alert</td>
                                                                                <td><div>{{ result.alert }}</div></td>
                                                                    
                                                                                <td class="key">Description</td>
                                                                                <td><div>{{ result.description }}</div></td>
                                                                    
                                                                                <td class="key">Risk</td>
                                                                                <td><div>{{ result.risk }}</div></td>
                                                                            {% endif %}
                                                                        </tr>
                                                                        {% empty %}
                                                                        <tr><td><div>No results found.</div></td></tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- End scan results section -->
                                                        <tr><td class="key">created_at</td><td><div>{{ scan.created_at|date:"Y-m-d H:i:s" }}</div></td></tr>
                                                        <tr><td class="key">updated_at</td><td><div>{{ scan.updated_at|date:"Y-m-d H:i:s" }}</div></td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="border border-secondary rounded p-8 d-flex justify-content-center align-items-center">
                        <p class="text-muted font-weight-medium">No data to display</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- New Scan Modal -->
    <div class="modal fade" id="newScanModal" tabindex="-1" aria-labelledby="newScanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="newScanModal">New Scan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body border-0">
                    <div class="row mb-4" id="stepsHeader">
                        <div class="col-sm-4 px-2">
                            <div class="modal-border border-primary py-3">
                                <div class="text-primary">STEP 1</div>
                                <div>Select Scans to Run</div>
                            </div>
                        </div>
                        <div class="col-sm-4 px-2">
                            <div class="modal-border border-secondary py-3">
                                <div class="text-secondary">STEP 2</div>
                                <div>Select Targets</div>
                            </div>
                        </div>
                        <div class="col-sm-4 px-2">
                            <div class="modal-border border-secondary py-3">
                                <div class="text-secondary">STEP 3</div>
                                <div>Configure</div>
                            </div>
                        </div>
                    </div>

                    <div class="step-content" id="step1Content">
                        <div class="step1-content">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="selectAll" onclick="toggleScanChecks()" />
                                <label class="form-check-label" for="selectAll"><span class="text-secondary">Select All</span></label>
                            </div>
                            <hr />
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="Nmap TCP Port Scan" id="scanCheckBox1" onclick="updateScanChecks()">
                                <div class="form-check-label d-flex justify-content-between" for="scanCheckBox1">
                                    <div>
                                        <div>Nmap TCP Port Scan</div>
                                        <div class="text-secondary">Discover open ports on your servers with a complete TCP port scan of ports 0 to 65535.</div>
                                    </div>
                                    <div style="min-width: 120px;" class="text-end">
                                        <button class="btn btn-sm btn-outline-secondary p-0 px-1">
                                            Learn More
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="Nmap UDP Port Scan" id="scanCheckBox2" onclick="updateScanChecks()">
                                <div class="form-check-label d-flex justify-content-between" for="scanCheckBox2">
                                    <div>
                                        <div>Nmap UDP Port Scan</div>
                                        <div class="text-secondary">Discover open ports of common UDP services.</div>
                                    </div>
                                    <div style="min-width: 120px;" class="text-end">
                                        <button class="btn btn-sm btn-outline-secondary p-0 px-1">
                                            Learn More
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="OpenVAS Network Vulnerability Scan" id="scanCheckBox3" onclick="updateScanChecks()">
                                <div class="form-check-label d-flex justify-content-between" for="scanCheckBox3">
                                    <div>
                                        <div>OpenVAS Network Vulnerability Scan</div>
                                        <div class="text-secondary">Scan your servers for over 50,000 vulnerabilities.</div>
                                    </div>
                                    <div style="min-width: 120px;" class="text-end">
                                        <button class="btn btn-sm btn-outline-secondary p-0 px-1">
                                            Learn More
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="OWASP ZAP Passive Web Application Scan" id="scanCheckBox4" onclick="updateScanChecks()">
                                <div class="form-check-label d-flex justify-content-between" for="scanCheckBox4">
                                    <div>
                                        <div>OWASP ZAP Passive Web Application Scan</div>
                                        <div class="text-secondary">Passively check your web application for cross-domain misconfigurations, insecure cookies, vulnerable js dependencies, and more vulnerabilities.</div>
                                    </div>
                                    <div style="min-width: 120px;" class="text-end">
                                        <button class="btn btn-sm btn-outline-secondary p-0 px-1">
                                            Learn More
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check my-3">
                                <input class="form-check-input" type="checkbox" value="OWASP ZAP Active Web Application Scan" id="scanCheckBox5" onclick="updateScanChecks()">
                                <div class="form-check-label d-flex justify-content-between" for="scanCheckBox5">
                                    <div>
                                        <div>OWASP ZAP Active Web Application Scan</div>
                                        <div class="text-secondary">Actively test your web application for SQL injection, remote command excution, XSS and more. Also inculdes the passive tests. <br /> WARNING: This scan is not destructive, but it does submit forms and requests to the application. Make sure you have permission from the website owner.</div>
                                    </div>
                                    <div style="min-width: 120px;" class="text-end">
                                        <button class="btn btn-sm btn-outline-secondary p-0 px-1">
                                            Learn More
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="step1-footer float-end pt-4">
                                <button type="button" id="nextButtonStep1" class="btn btn-primary bg-primary">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="step-content d-none" id="step2Content">
                        <div class="step2-content">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <button class="btn btn-outline-primary text-dark" data-bs-toggle="modal" data-bs-target="#createTargetModal">Create Target</button>
                                <div class="d-flex align-items-center">
                                    <div class="form-check form-switch pr-2">
                                        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode">
                                        <label class="form-check-label" for="mySwitch">Select by tag(s)</label>
                                    </div>
                                    <button class="btn btn-outline-secondary btn-sm">Filters</button>
                                </div>
                            </div>

                            <table class="table" id="targetsTable">
                                <thead class="bg-light">
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="selectAllTargets">
                                        </th>
                                        <th scope="col">SOURCE</th>
                                        <th scope="col">LABEL</th>
                                        <th scope="col">IPV4 / DNS NAME</th>
                                        <th scope="col">TAGS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>

                            <div class="step2-footer float-end pt-4">
                                <button type="button" id="backButtonStep2" class="btn btn-outline-secondary text-secondary">Back</button>
                                <button type="button" id="nextButtonStep2" class="btn btn-primary bg-primary">Next</button>
                            </div>
                        </div>
                    </div>

                    <div class="step-content d-none" id="step3Content">
                        <div class="step2-content">
                            <div>
                                <div class="mb-3">
                                    <div>Schedule</div>
                                    <div class="text-secondary">Run the scan just one time or on a recurring schedule</div>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="scheduleOneTime" name="schedule" value="oneTime" checked>
                                    <label class="form-check-label" for="scheduleOneTime">One Time</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="scheduleDaily" name="schedule" value="daily">
                                    <label class="form-check-label" for="scheduleDaily">Daily</label>
                                </div>
                            </div>

                            <hr class="my-3" />

                            <div>
                                <div class="mb-3">
                                    <div>Start Time</div>
                                    <div class="text-secondary">Choose what date and time to run the scan</div>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="startNow" name="start" value="now" checked>
                                    <label class="form-check-label" for="startNow">Now</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="startFuture" name="start" value="future">
                                    <label class="form-check-label" for="startFuture">At a future time</label>
                                </div>
                            </div>

                            <hr class="my-3" />

                            <div>
                                <div class="mb-3">
                                    <div>Email Notification</div>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="emailSend" name="email" value="yes" checked>
                                    <label class="form-check-label" for="emailSend">Email results to all organization members</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="emailNot" name="email" value="no">
                                    <label class="form-check-label" for="emailNot">Do not email results</label>
                                </div>
                            </div>

                            <div class="step3-footer float-end pt-4">
                                <button type="button" id="backButtonStep3" class="btn btn-outline-secondary text-secondary">Back</button>
                                <button type="button" id="submitButtonStep3" class="btn btn-primary bg-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Target Modal -->
    <div class="modal fade" id="createTargetModal" tabindex="-1" aria-labelledby="createTargetModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-5" id="createTargetModalLabel">Add Targets</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body border-0">
                    <div class="my-3">Add targets individually by IP, DNS Name, or URL. Once created, you can configure advanced options for each target.</div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <div>
                            <div>Target *</div>
                            <div>
                                <input class="form-control" id="targetBody" placeholder="IPv4, Domain, URL or Public CIDR" />
                            </div>
                        </div>
                        <div>
                            <div>Tags</div>
                            <div>
                                <input class="form-control" id="targetTags" placeholder="Up to 5 tags" />
                            </div>
                        </div>
                        <div>
                            <div>Label</div>
                            <div>
                                <input class="form-control" id="targetLabel" placeholder="e.g. my-example-server" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" id="addTargetButton" class="btn btn-primary bg-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    let selectedScans = []
    let targets = []
    let selectedTargets = []
    let schedule = "oneTime"
    let startTime = "now"
    let emailSend = "yes"
    const firstModal = new bootstrap.Modal(document.getElementById('newScanModal'));
    const secondModal = new bootstrap.Modal(document.getElementById('createTargetModal'));

    // When the second modal is about to be shown, make sure the first modal doesn't disappear completely.
    $('#createTargetModal').on('show.bs.modal', function () {
        setTimeout(function () {
            $('#newScanModal').css('display', 'block');
            $('body').addClass('modal-open');
        }, 10);
    });

    // When the second modal is completely hidden, bring the first modal back to its full opacity.
    $('#createTargetModal').on('hidden.bs.modal', function () {
        firstModal.show();
    });

    function toggleScanChecks() {
        let isChecked = $("#selectAll").is(':checked');
        $(".step1-content .form-check-input:not(#selectAll)").each(function() {
            $(this).prop('checked', isChecked);
            updateSelectedScans($(this).val(), isChecked);
        });
    }

    function updateScanChecks() {
        let allChecked = true;
        $(".step1-content .form-check-input:not(#selectAll)").each(function() {
            if (!$(this).is(':checked')) {
                allChecked = false;
            }
            updateSelectedScans($(this).val(), $(this).is(':checked'));
        });
        $("#selectAll").prop('checked', allChecked);
    }

    function updateSelectedScans(value, isChecked) {
        if (isChecked) {
            if (!selectedScans.includes(value)) {
                selectedScans.push(value);
            }
        } else {
            selectedScans = selectedScans.filter(function(item) {
                return item !== value;
            });
        }
    }

    $("#nextButtonStep1").click(function() {
        if ($('#step1Content input[type="checkbox"]:checked').length > 0) {
            toggleStepVisibility(1, 2);
        } else {
            alert("You should check at least one.");
        }
    });

    $("#nextButtonStep2").click(function() {
        if (selectedTargets.length > 0) {
            toggleStepVisibility(2, 3);
        } else {
            alert("You should select a target at least.");
        }
    });

    $("#backButtonStep2").click(function() {
        toggleStepVisibility(2, 1);
    });

    $("#backButtonStep3").click(function() {
        toggleStepVisibility(3, 2);
    });

    $("#submitButtonStep3").click(function() {
        firstModal.hide();
        submitScanConfiguration();
    });

    function toggleStepVisibility(currentStep, nextStep) {
        $("#step" + currentStep + "Content").addClass("d-none");
        $("#step" + nextStep + "Content").removeClass("d-none");
        $("#stepsHeader .col-sm-4:nth-child(" + currentStep + ") .modal-border").removeClass("border-primary").addClass("border-secondary");
        $("#stepsHeader .col-sm-4:nth-child(" + currentStep + ") div").removeClass("text-primary").addClass("text-secondary");
        $("#stepsHeader .col-sm-4:nth-child(" + nextStep + ") .modal-border").removeClass("border-secondary").addClass("border-primary");
        $("#stepsHeader .col-sm-4:nth-child(" + nextStep + ") div").removeClass("text-secondary").addClass("text-primary");
    }

    const selectAllTargetsCheckbox = document.getElementById('selectAllTargets');
    let targetChecks = document.querySelectorAll('.targetCheck');

    function updateSelectedTargets() {
        selectedTargets = [];
        let targetChecks = document.querySelectorAll('.targetCheck');
        targetChecks.forEach(checkbox => {
            if (checkbox.checked) {
                let target = targets.find(t => t.body === checkbox.value);
                if (target) {
                    selectedTargets.push(target);
                }
            }
        });
    }

    selectAllTargetsCheckbox.addEventListener('click', function () {
        let targetChecks = document.querySelectorAll('.targetCheck');
        targetChecks.forEach(checkbox => {
            checkbox.checked = selectAllTargetsCheckbox.checked;
        });
        updateSelectedTargets(); 
    });

    function handleCheckboxClick() {
        let targetChecks = document.querySelectorAll('.targetCheck');
        selectAllTargetsCheckbox.checked = targetChecks.length > 0 && Array.from(targetChecks).every(checkbox => checkbox.checked);
        updateSelectedTargets();
    }

    $("#addTargetButton").click(function () {
        let targetBody = $("#targetBody").val();
        let targetTags = $("#targetTags").val();
        let targetLabel = $("#targetLabel").val();

        if (!targetBody.length) {
            alert("You must insert IPV4 / DNS Name");
            return;
        }

        let target = {
            body: targetBody,
            tags: targetTags,
            label: targetLabel,
            source: "Manual"
        };

        targets.push(target);

        let $tableBody = $("#targetsTable tbody");
        let $newRow = $('<tr></tr>');

        let $checkbox = $('<input>', {
            type: "checkbox",
            name: "targetCheckbox",
            class: "targetCheck",
            value: targetBody // or any other unique identifier for the target
        });

        $newRow.append($('<td>').append($checkbox));
        $newRow.append($('<td>').text(target.source));
        $newRow.append($('<td>').text(target.label));
        $newRow.append($('<td>').text(target.body));
        $newRow.append($('<td>').text(target.tags));

        $tableBody.append($newRow);

        $("#targetBody").val('');
        $("#targetTags").val('');
        $("#targetLabel").val('');

        // Rebinding click event to the checkboxes
        $('.targetCheck').off('click').on('click', handleCheckboxClick);

        updateSelectedTargets();
        $('#createTargetModal').modal('hide');
    });

    $('.targetCheck').on('click', handleCheckboxClick);

    updateSelectedTargets();

    $('input[name="schedule"]').on('change', function() {
        schedule = this.value;
    });

    $('input[name="start"]').on('change', function() {
        startTime = this.value;
    });

    $('input[name="email"]').on('change', function() {
        emailSend = this.value === 'yes';
    });

    function submitScanConfiguration() {
        const data = {
            selectedScans: selectedScans,
            selectedTargets: selectedTargets,
            schedule: schedule,
            startTime: startTime,
            emailSend: emailSend,
        };

        fetch('/api/scan-configuration/', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.toggle-details').forEach(function (button) {
            button.addEventListener('click', function () {
                var icon = this.querySelector('i');
                if (icon.classList.contains('fa-angle-right')) {
                    icon.classList.remove('fa-angle-right');
                    icon.classList.add('fa-angle-down');
                } else {
                    icon.classList.remove('fa-angle-down');
                    icon.classList.add('fa-angle-right');
                }
                var detailsRow = this.closest('tr').nextElementSibling;
                detailsRow.style.display = detailsRow.style.display === 'none' ? '' : 'none';
            });
        });
    });

    function refreshPage() {
        location.reload();
    }
</script>

<style>
    .modal-border {
        border-top-width: 5px;
    }
</style>