{% extends 'base.html' %}
{% load static %}

{% block title %} OrionScan | Scan {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'assests/static/css/style.css' %}" data-n-g="" />
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<!-- <button class="btn btn-primary bg-primary" onclick="submitScanTest()">Test</button> -->
<script>
    function submitScanTest() {
        const data = {
            selectedScans: "selectedScans",
            selectedTargets: "selectedTargets",
            schedule: "schedule",
            startTime: "startTime",
            emailSend: "emailSend",
        };

        fetch('/api/scan-test/', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
<div class="flex flex-col w-full h-full grow">
    {% include 'scan/scan_content.html' %}
    <footer class="text-xs opacity-50 text-center mt-16 py-4">© OrionScan, LLC. 2019 - 2023. All Rights Reserved | <a
            href="#">Terms &amp; Policies</a></footer>
</div>
{% endblock %}